Goal: write a model-view-controller blog.

GENERAL REQUIREMENTS
1. Do it in mongodb and in sequelize (shows that you decoupled the models)
2. Do it with 2 different layouts (shows that you decoupled the views)

1. A blog backend with the ability to:
	a) Authenticate the user (user creation is via database only with a hashed password)
	b) Create a post
	c) See a list of posts
		* With the ability to delete if admin
		* With the ability to edit if admin
	d) Use sessions

2. A blog frontend with the ability to:
	a) See a post (detailed page)
	b) See a list of posts (archive)

3. Bonus:
	a) Keep a list of old title links and redirect to the right post where necessary
	b) Store sessions in Redis
	c) Perform extra security over HTTPS
	d) Deploy
	e) Use webpack
	f) Use dotenv