html
	head
		title Login
	body

		h1 Login
		form(name='login' method='POST' action='/auth/login')
			input(id='uname' type='text' name='username')
			label(for='uname') Username
			br
			input(id='pword' type='password' name='password')
			label(for='login2') Password
			br
			input(type='submit' value='submit')