html
	head
		include partialViews/head.pug
	body
		include partialViews/nav.pug

		main
			section.container
				h4 Login
				form(name='login' method='POST' action='/auth/login')
					.input-field.s12
						input(id='uname' type='text' name='username' value='mella')
						label(for='uname') Username
					.input-field.s12
						input(id='pword' type='password' name='password' value='paard')
						label(for='login2') Password
					button.btn.waves-effect.waves-light(type='submit' name='action') Submit
						i.material-icons.right send


		include partialViews/footer.pug