title A simple blog
link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(href='/static/styles/vendor/materialize.min.css' rel='stylesheet' media="screen,projection")
link(href='/static/styles/main.css' rel='stylesheet' tpye='text/css')
link(rel='shortcut icon' type='img/png' href='/static/materialize-favicon.png')

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")